html{
    width:100%;
    height:100%;
    margin:0;
}
#web3d-ide{
    text-align: center;
    width:1224px;
    margin: auto;
}

#web3d-ide img{
    display:none;
}

#web3d-ide-container{
    position: absolute;
    border: 5px solid black;
    cursor: default;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#web3d-ide-canvas{
    background: white;
    -webkit-transform-origin: left top;
    -webkit-transform: translateZ(0);
    -moz-transform-origin: left top;
    -moz-transform: translateZ(0);
    -ms-transform-origin: left top;
    -ms-transform: translateZ(0);
    -o-transform-origin: left top;
    -o-transform: translateZ(0);
    transform-origin: left top;
    transform: translateZ(0);
}

#form-div{
    width:200px;
    height:600px;
    float:right;
}

.clearBoth{
    margin-top: 5px;
    width:100%;
    clear:both;
}

.point{
    border:1px solid;
    position:fixed;
}

#form-color{
    width:100%;
    text-align: center;
}

.color{
    width:50px;
}

#jsonarea{
    width:610px;
    height:410px;
    position:absolute;
    top:0px;
    background:#C0C0C0;
    text-align: center;
}
#jsonarea div{
    float:right;
    clear:both;
}
#jsonarea textarea{
    width:590px;
    height:370px;
}